{
  "comments": false,
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "transform-runtime",
      ],
    },
    {
      "passPerPreset": false,
      "presets": [
        {
          "plugins": [
            "transform-class-properties",
          ]
        },
        ["es2015", {"loose": true} ],
        "stage-3",
        "react"
      ]
    }
  ]
}